server:
  port: 7070

spring:
  application:
    name: zuul-proxy

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


zuul:
  routes:
    demo:
      path: /demo/**
      serviceId: demo
      stripPrefix: true
